# Virtual environments
**/.venv
**/venv
**/env
**/.venv_server
**/.venv_client


# Logs
**/*.log
**/logs/

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Keys
**/keys/
**/certs/

# Mac OS system files
.DS_Store
**/.DS_Store